
.navbar-nav .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    transition-property: opacity,transform,-webkit-transform;
    box-shadow: 0 1rem 3rem rgba(22,28,45,.15);
    transform: translateY(10px);
    background-color: $white;
    padding: 15px;
    border-radius: 5px;
    li {
        &:not(:first-child){
            padding-top: 10px;
            // background-color: red;
        }
        a {
            &:hover {
                text-decoration: none;
                color: $primary;
            }
        }
    }
}

.navbar-nav .dropdown:hover .dropdown-menu {
    transform: translateY(0);
}
.navbar-nav .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}